.btns {
  color: gray;
  margin: 10px;
  padding: 10px;
}
nav {
  height: 20px;
  display: flex;
}
.nav_bar {
  align-items: right;
  justify-content: right;
  height: 100px;
}

a {
  margin: 10px;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.text_input {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
}

.input_btns {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google_logo {
  margin-bottom: 10px;
}

.input_btns_advance {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.adv_google_text {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: blue;
  font-weight: bold;
  margin-right: 20px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.adv_google_input {
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  margin-left: 10px;
  width: 638px;
}

.adv_google_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col2{
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-row: 4;
}

.marT20{
  margin-top: 20px;
}