body{
  font-family: Arial, Helvetica, sans-serif;
}
.btns {
  color: gray;
  margin: 10px;
  padding: 10px;
}
/* ************ NAV BAR **************** */
.nav_bar {
  align-items: right;
  justify-content: right;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav_anchor{
  display: flex;
  justify-content: right;
}

.nav_anchor a{
  margin: 10px;
  padding: 10px;
}
/* ****************BANNER************ */

.banner{
border-bottom: 2px solid grey;
margin: 45px;
margin-top: 10px;
margin-bottom: 20px;
}

.banner_adv{
  color:#d93025;
  margin:10px;
  padding: 10px;
}
.flex {
  display: flex;
  justify-content: center;
}

.text_input {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
}

.input_btns {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google_logo {
  margin-bottom: 10px;
}

.input_btns_advance {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.adv_google_text {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: blue;
  font-weight: bold;
  margin-right: 20px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.adv_google_input {
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  margin-left: 10px;
  width: 638px;
  border-radius: 5px;
}

.adv_google_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col2 {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-row: 4;
}

.marT20 {
  margin-top: 20px;
}
.google_logo_adv img {
  margin-left: 20px;
  margin-right: auto;
  padding: 20px;
  height: 40px;
  display: block;
  width: auto;
}

.pos_left {
  justify-items: left;
  align-items: center;
}
.pos_right {
  display: flex;
  justify-items: right;
  align-items: center;
}
